html {
    height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #8cb87e;
}

/* Button divs */
.button-div {
	cursor: pointer;
}

.header-padding {
	padding-left: 25px;
}

/* Recipe card */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
	display: inline-block;
	text-align: center;
	width: 100%;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
.recipe-box{
	align-content:center;
	height: 100%;
	width: 100%;
}

.recipe-card-div {
	display: inline-block;
	padding: 1.2%;
}

.recipe-card-div-inner {
	width: 250px;
	height: 325px;
	border: 3px solid;
}

.recipe-card-top {
	height: 80%;
	background-color: white;
}

.recipe-card-img {
	width: 100%;
    height: 100%;
}

.recipe-card-bot {
	height: 20%;
	border-top: 3px solid;
	text-align: center;
	background-color: white;
}

.recipe-card-text {
	font-size: 22px;
}

.recipe-card {
	display: inline-block;
	padding: 1.2%;
}

.recipe-card-div-inner {
    -webkit-transition: all 0.25s ease; /* Safari and Chrome */
    -moz-transition: all 0.25s ease; /* Firefox */
    -ms-transition: all 0.25s ease; /* IE 9 */
    -o-transition: all 0.25s ease; /* Opera */
    transition: all 0.25s ease;
}

.recipe-card-div-inner:hover {
    -webkit-transform:scale(1.03); /* Safari and Chrome */
    -moz-transform:scale(1.03); /* Firefox */
    -ms-transform:scale(1.03); /* IE 9 */
    -o-transform:scale(1.03); /* Opera */
	transform:scale(1.03);
	-webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

/* Text */
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	text-align:center;
	padding-top: 30px;
	padding-left: 5px;
	color: white;
	text-shadow: 2px 2px black;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	text-align:center;
	color: white;
	text-shadow: 2px 2px black;
}

h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align:center;
	color: white;
	text-shadow: 2px 2px black;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

/* Recipe Section */
.recipe-section {
  background-color: white;
	border: 2px solid #F5F5F5;
	border-radius: 3px;
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 5px;
	box-shadow: 2px 2px 2px black;
}

.content-section {
  font-weight: bold;
  font-size: 24px;
}

ol {
  counter-reset: item;
}

ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.ingredients-table {
	width: 50%;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

/* Mushroom Jerky Section */
.mj-table-div {
	width: 100%;
	margin: 0 auto;
}

.mj-table {
	background-color: white;
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0 auto;
    -webkit-box-shadow: 0 0 5px 5px rgb(212, 0, 255);
    -moz-box-shadow: 0 0 5px 5px rgb(212, 0, 255);
	box-shadow: 0 0 5px 5px rgb(212, 0, 255);
	width: 100%;
}

.mj-thead-tr {
	margin-bottom: 10px;
	background-color: green;
	color: white;
}

.mj-tbody-tr {
}

.mj-tbody-tr:hover {
	background-color: orange;
}

.mj-td1 {
	padding: 6px;
	text-align: left;
	font-size: 20px;
}

.mj-td2 {
	padding: 6px;
	font-size: 20px;
	word-wrap: break-word;
	text-align: left;
}

.mj-td-right {
	padding: 6px;
	font-size: 20px;
	text-align: right;
}

.mj-rating-icon {
	height: 25px;
	width: 25px;
	display: inline-block;
}

.tooltip-wrap {
	position: relative;
}

.tooltip-wrap .tooltip-content {
	display: none;
	position: absolute;
	max-width: 200px;
	min-width: 50px;
	background-color: #fff;
	padding: .5em;
	z-index: 1;
	margin-left: 25px;
    margin-top: -15px;
}

.tooltip-wrap:hover .tooltip-content {
	display: block;
	border-style: solid;
	border-width: medium;
	border-color: #ff00ff;
	border-radius: 5px;
}
